[user]
	# set in ~/.gitconfig.local
[include]
	path = ~/.gitconfig.local
[alias]
	s = status
	d = diff
	l = log --oneline --color --graph --abbrev-commit
	c = checkout
[core]
	editor = vim
	autocrlf = input
[pull]
	rebase = false
[init]
	defaultBranch = main
[url "git@github.com:"]
	insteadOf = https://github.com/
